*.egg-info
**/_DATA/*
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
**/__pycache__/*
*.pyc
*.pth
outputs/*
phantom/outputs/*

# epic data
epic/

# b data & binary files
b/data/
b/reachanility_results/